.App{
  font-size: 35px;
  text-align: center;
  margin-top: 20%;
}

.Title{
  font-size: 50px;
  font-style: oblique;
}

.Clock-minutes,.Clock-hours,.Clock-seconds,.Clock-days {
  display: inline;
  margin:10px;
}
